@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Nunito', sans-serif;
    font-size: 22px;
    color: #fff;
}

/* body {
    min-height: 100vh;
    background-color: rgb(30, 135, 255);
} */

.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 90vh;
  padding: 1rem 0.5rem;
}

/* section {
    width: 100%;
    max-width: 420px;
    min-height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 1rem;
    background-color: rgba(1, 17, 243, 0.4);
} */

h1{
    font-size: 35px;
    color: #8C55AA;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    flex-grow: 1;
    padding-bottom: 1rem;
}

/* a, a:visited {
    color: #fff;
} */

input[type="text"],
input[type="email"],
input[type="password"],
input[type="date"],
button,
textarea {
  font-family: 'Nunito', sans-serif;
  font-size: 20px;
  padding: 0.25rem;
  border-radius: 0.5rem;
  visibility: visible;
}

ul[class ="Friends"]{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    flex-grow: 1;
    padding-bottom: 1rem;
    color: rgb(201, 25, 25);
}
div[class ="Friends"]{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    flex-grow: 1;
    padding-bottom: 1rem;
    color: rgb(167, 89, 156);
    width: flex;
    border: 5px solid rgb(163, 194, 235);
    border-radius: 10px;
    padding: 30px;
    margin: 20px;
}

label,
button {
  margin-top: 0.5rem;
}

/* button {
  padding: 0.5rem;
} */

.instructions {
    font-size: 0.75rem;
    border-radius: 0.5rem;
    background: rgb(241, 239, 239);
    color: rgb(248, 74, 112);
    padding: 0.25rem;
    position: relative;
    
}

.instructions > svg {
    margin-right: 0.25rem;
}

.offscreen {
    position: absolute;
    left: -9999px;
}

.hide {
    display: none;
}

.valid {
    color: limegreen;
    margin-left: 0.25rem;
}

.invalid {
    color: red;
    margin-left: 0.25rem;
}

.errmsg {
    background-color: lightpink;
    color: firebrick;
    font-weight: bold;
    padding: 0.5rem;
    margin-bottom: 0.5rem;
}


.line {
    display: inline-block;
    color: #b772f7;
    margin-bottom: 10px;
}


body {
    background-color: #F3EBF6;
    font-family: 'Ubuntu', sans-serif;
}

.App{
    background-color: #FFFFFF;
    width: 400px;
    height: 400px;
    margin: 7em auto;
    border-radius: 1.5em;
    box-shadow: 0px 11px 35px 2px rgba(0, 0, 0, 0.14);
}

.sign {
    padding-top: 40px;
    color: #8C55AA;
    font-family: 'Ubuntu', sans-serif;
    font-weight: bold;
    font-size: 23px;
}






.un {
width: 76%;
color: rgb(38, 50, 56);
font-weight: 700;
font-size: 14px;
letter-spacing: 1px;
background: rgba(136, 126, 126, 0.04);
padding: 10px 20px;
border: none;
border-radius: 20px;
outline: none;
box-sizing: border-box;
border: 2px solid rgba(0, 0, 0, 0.02);
margin-bottom: 50px;
margin-left: 46px;
text-align: center;
margin-bottom: 27px;
font-family: 'Ubuntu', sans-serif;
}

form.sign {
    padding-top: 30px;
}

.pass {
        width: 76%;
color: rgb(38, 50, 56);
font-weight: 700;
font-size: 14px;
letter-spacing: 1px;
background: rgba(136, 126, 126, 0.04);
padding: 10px 20px;
border: none;
border-radius: 20px;
outline: none;
box-sizing: border-box;
border: 2px solid rgba(0, 0, 0, 0.02);
margin-bottom: 50px;
margin-left: 46px;
text-align: center;
margin-bottom: 27px;
font-family: 'Ubuntu', sans-serif;
}


.un:focus, .pass:focus {
    border: 2px solid rgba(0, 0, 0, 0.18) !important;
    
}

.submit {
  cursor: pointer;
    border-radius: 5em;
    color: #fff;
    background: linear-gradient(to right, #9C27B0, #E040FB);
    border: 0;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 10px;
    padding-top: 10px;
    font-family: 'Ubuntu', sans-serif;
    /* margin: auto; */
    margin: auto;
    margin-bottom: 20px;
    font-size: 20px;
    box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.04);
    justify-content: center;
}

.signUp {
    text-shadow: 0px 0px 3px rgba(117, 117, 117, 0.12);
    color: #E1BEE7;
    padding-top: 15px;
}

a {
    text-shadow: 0px 0px 3px rgba(117, 117, 117, 0.12);
    color: #ce66e0;
    text-decoration: none
}

/* @media (max-width: 600px) {
    .main {
        border-radius: 0px;
    }
} */